.nav {
  display: flex;
  justify-content: space-between;
}
.nav img {
  min-height: 40px;
  max-height: 70px;
  height: 5vw;
  margin: 5px;
  cursor: pointer;
}
.nav ul {
  display: flex;
  justify-content: space-around;
  font-size: clamp(1rem,2vw,2rem);
  list-style: none;
  margin: 20px;
}
.nav ul li {
  display: flex;
  align-items: flex-end;
  padding: 5px 20px;
  cursor: pointer;
}
.nav .menu {
  display: none;
  font-size: 3rem;
  margin-right: 10px;
  cursor: pointer;
}
@media (max-width: 720px) {
  .nav .menu {
    display: block;
  }
  .nav ul {
    display: none;
  }
}
.module {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
}
.nav-module {
  position: absolute;
  width: 300px;
  background-color: black;
  padding: 30px;
  transition: 0.5s;
  margin-left: -100%;
  border-radius: 0 0px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  z-index: 2;
}
.menu-link {
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}
.show {
  margin-left: 0;
  display: block;
}
